{% extends 'blogs/main.html'%}

{% block content %}
<div class="view-container">
  <a href="{% url 'show_blogs' %}">Home</a>
  <div class="view-blog-header">
    <p>{{post.author}}</p>
    <h1 >{{ post.title }}</h1>
    <p>{{post.pub_date}}</p>
  </div>
  <p>{{ post.content }}</p>
  <hr>
  <!-- Display comments -->
  <h3>Comments</h3>
  {% for comment in comments %}
    <div >
      <div class="view-parent-container">
        <p class="view-comment-author">{{ comment.author.username }} said on {{ comment.pub_date }}:</p>
        <p class="view-comment-body">{{ comment.text }}</p>
      </div>
      
      <!-- Display nested comments -->
      {% for nested_comment in comment.comment_set.all %}
        <div class="view-nested-container">
          <p class="view-comment-author">{{ nested_comment.author.username }} replied to {{comment.author.username}} on {{ nested_comment.pub_date }}:</p>
          <p class="view-comment-body">{{ nested_comment.text }}</p>
          
        </div>
      {% endfor %}
      <!-- End nested comments -->
    </div>
  {% endfor %}

  <!-- Comment form -->
  {% if user.is_authenticated %}
    <h3>Add a comment</h3>
    <form method="post" action="{% url 'post_detail' pk=post.pk %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add comment</button>
    </form>
  {% else %}
    <p>Login to add comments.</p>
  {% endif %}
</div>
{% endblock content%}
